<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<p><%= @restaurant.address %></p>
<p><em><%= @restaurant.phone_number %></em></p>
<a class="btn btn-outline-danger" href="<%= new_restaurant_review_path(@restaurant) %>">Write a Review</a>
