<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<p><%= @restaurant.address %></p>
<p><em><%= @restaurant.phone_number %></em></p>
<a class="btn btn-outline-danger" href="<%= new_restaurant_review_path(@restaurant) %>">Write a Review</a>
<br>
<a class="btn btn-info mt-3" href="<%= restaurants_path %>">Home</a>
<hr>
<% if @restaurant.reviews.present? %>
  <% @restaurant.reviews.each do |review| %>
    <h2 style="color:red"><%= review.rating %></h1>
    <p style="color:grey"><%= review.content %></p>
  <% end %>
<% end %>
